.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-image: linear-gradient(to right top, #641619, #6b0f25, #700834, #720744, #700f55, #65266d, #503781, #2e4690, #005a98, #006993, #007587, #0e7f78);

}

.displayContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 5rem;
    height: 100%;
}

.cointainerImg {
    width: auto;
    padding: 1rem;
}

.imgDescription {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.containerDetail {
    
}

.containerDetail>p {
    color: white;
    font-size: 15px;
}
.containerInfo{
    display: flex;
    flex-direction: column;
}
.containerInfo>p{
    color: white;
}
strong{
    margin-left: 5px;
    font-size: 15px;
    font-weight: 400;
}
.containerDetailInfo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: white;
}
