body {
    
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-top: 6rem;
    gap: 10px;
}

.error{
    color: white;
}

.grid_loader{
    position: relative;
    left: 250px;
    padding-top: 6rem;
    height: 100vh;
}

.paginado {
    width: auto;
    height: auto;
    padding: 25px;
    grid-column-start: 1;
    grid-column-end: 4;
}

.containerHome{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: auto;
}